@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.User.LoginViewModel;

<h1>Log in with your account</h1>
<div class="content">
@using (Html.BeginForm("Authenticate", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn" />
}
</div>

<div class="links">
  <p>@Html.ActionLink("No Account? Register", "Register")</p>
  <p>@Html.ActionLink("Back", "Index")</p>
</div>