@using BodyJournalClient.Models;
@model IEnumerable<BodyJournalClient.Models.MuscleGroupFatigue>

<div class="text-center">

@if(Model.Any())
  {
      @foreach (MuscleGroupFatigue muscleGroup in Model)
      {
        <div class="MuscleGroupFatigue">
            <a href="MuscleGroupFatigue/@(muscleGroup.Id)">
                <span>@muscleGroup.ChestFatigue</span>
                <span>@muscleGroup.BackFatigue</span>
                <span>@muscleGroup.ShouldersFatigue</span>
                <span>@muscleGroup.ArmsFatigue</span>
                <span>@muscleGroup.LegsFatigue</span>
                <span>@muscleGroup.AbsFatigue</span>
            </a>
        </div>
    }
  }
  else
  {
    <h3>You dont have any exercises yet</h3>
  }
@* 

    @* <p>Links: Home, Data, Exercises, Add new Workouts</p> *@
    <a href="/Home/Index"><p>Home</p></a>
    <a href="/Data/Index"><p>View Data</p></a>
    <a href="/Exercises/Index"><p>View Exercises</p></a>
</div>