@{
  Layout = "_Layout";
}
@model BodyJournalClient.ViewModels.CreateWorkout

<div class="text-center">
  <h1 class="display-4">Workout Create</h1>

  <form asp-controller="Workouts" asp-action="Create" method="post">

    @* <div class="form-group">
      <label for="Name">Name</label>
      <input class="form-control" type="text" id="Name" asp-for="Name"/>
    </div> *@
     @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.IntensityScore)
    @Html.TextBoxFor(model => model.IntensityScore)
    <br>
     @Html.LabelFor(model => model.TimeOfWorkout)
    @Html.TextBoxFor(model => model.TimeOfWorkout)
    <br>
    @Html.LabelFor(model => model.Satisfaction)
    @Html.TextBoxFor(model => model.Satisfaction)
    <br>
      @* <label for="ExerciseOne">Exercise one:</label>
      <select id="ExerciseOne" name="exercises" asp-for="@(Model.Exercises)" asp-items="ViewBag.ExerciseOne"></select>

         <label for="ExerciseTwo">Exercise Two:</label>
      <select id="ExerciseTwo" name="exercises" asp-for="@(Model.Exercises)" asp-items="ViewBag.ExerciseTwo"></select> 

         <label for="ExerciseThree">Exercise Three:</label>
      <select id="ExerciseThree" name="exercises" asp-for="@(Model.Exercises)" asp-items="ViewBag.ExerciseThree"></select> 

         <label for="ExerciseFour">Exercise Four:</label>
      <select id="ExerciseFour" name="exercises" asp-for="@(Model.Exercises)" asp-items="ViewBag.ExerciseFour"></select>   *@
    @* @Html.DropDownListFor(x => x.Exercises., new SelectList(ViewBag.Accounts, "AccountID", "AccountName"))
    @Html.Label("Exercise One")
    @Html.DropDownList("ViewBag.ExerciseOne")<br>

     @Html.Label("Exercise Two")
    @Html.DropDownList("ViewBag.ExerciseTwo")<br>

     @Html.Label("Exercise Three")
    @Html.DropDownList("ViewBag.ExerciseThree")<br>

     @Html.Label("Exercise Four")
    @Html.DropDownList("ViewBag.ExerciseFour")<br> *@
    
     @* <div class="form-group">
      <label for="Satisfaction">Satisfaction</label>
      <input class="form-control" type="text" id="Satisfaction" asp-for="Satisfaction" required/>
    </div> *@

    <input type="submit" value="Create Workout" class="btn btn-default" />
  </form>


  <div class="links">
    <a href="/home">Home</a>
    <a href="/data">View Data</a>
    <a href="/exercises">View Exercises</a>
  </div>
</div>