@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.CreateExercise;

<div class="text-center">
    <h1 class="display-4">Exercises Create</h1>
<form asp-action="Create" method="POST">

    <p>Input: Exercise Name</p>
    <label for="Name">Exercise Name</label>
    <input name="Name" type="text" value="@(Model.Name)">    

    <p>Input: MuscleGroup</p>
    <label for="MuscleGroup">Muscle Group</label>
    <input name="MuscleGroup" type="text" value="@(Model.MuscleGroup)"> 

    <p>Input: Reps</p>
    <label for="Reps">Reps</label>
    <input name="Reps" type="text" value="@(Model.Reps)">    

    <p>Input: Sets</p>
    <label for="Sets">Sets</label>
    <input name="Sets" type="text" value="@(Model.Sets)">   

    <p>Input: Intensity</p>
    <label for="Intensity">Intensity</label>
    <input name="Intensity" type="text" value="@(Model.Intensity)">   

    <p>Input: Weight</p>
    <label for="Weight">Weight* (optional)</label>
    <input name="Weight" type="text" value="@(Model.Weight)">   
    
    <input  type="submit" value="Create"> 

    @* @Html.Label("Select Exercise to Add to Workout")
    @Html.DropDownList("ExerciseId")<br> *@

</form>

    <div class="links">
        <a href="/exercises"><p>Exercises</p></a>
    </div>
</div>