@{
  Layout = "_Layout";
}

@model BodyJournalClient.Models.Exercise;


<div class="text-center">
    <h1 class="display-4">Exercise Details</h1>
        
    @* <p>List: Exercise with their Sets, Reps,</p> *@
        <div class="exercise">
         <span>@Model.Name</span>
                <span>@Model.Weight</span>
                <span>@Model.Reps</span>
                <span>@Model.Sets</span>
                <span>@Model.MuscleGroup</span>
                <span>@Model.Intensity</span>
        </div>

  <div class="links">
    <a href="/exercises"><p>Exercises</p></a>
  </div>
</div>