@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.UpdateWorkout;

<div class="text-center">
    <h2>Edit</h2>

    <h4>Edit this Workout: @Model.Name</h4>

    <p>Input: Workout Name</p>
    <label for="WorkoutName">Exercise Name</label>
    <input name="WorkoutName" type="text" value ="@(Model.Name)"> 

    <p>Input: Workout Satisfaction</p>
    <label for="WorkoutName">Satisfaction</label>
    <input name="WorkoutName" type="int" value="@(Model.Satisfaction)"> 

    <p>Input: Workout Intensity </p>
    <label for="WorkoutName">Intensity</label>
    <input name="WorkoutName" type="int" value="@(Model.IntensityScore)"> 

    <p>Input: Workout </p>
    <label for="WorkoutName">Exercise </label>
    <input name="WorkoutName" type="text" value="@(Model.Name)"> 

    @* <p>Links: Home, Data, Exercises, Workouts</p> *@
    <a href="/workouts"><p>View Workouts</p></a>
</div>