@{
  Layout = "_Layout";
}

@model BodyJournalClient.ViewModels.UpdateExercise;


<div class="text-center">
<h4>Edit this Exercise: ExerciseName</h4>
  <form action="Edit">
    <p>Input: Exercise Name</p>
    <label for="Name">Exercise Name</label>
    <input name="Name" type="text" value="@(Model.Name)">    

    <p>Input: MuscleGroup</p>
    <label for="MuscleGroup">Muscle Group</label>
    <input name="MuscleGroup" type="text" value="@(Model.Name)"> 

    <p>Input: Intensity</p>
    <label for="Intensity">Intensity</label>
    <input name="Intensity" type="text" value="@(Model.Intensity)">   

    <p>Input: Weight</p>
    <label for="Weight">Weight* (optional)</label>
    <input name="Weight" type="text" value="@(Model.Weight)">   

    <p>Input: Reps</p>
    <label for="Reps">Reps</label>
    <input name="Reps" type="text" value="@(Model.Reps)">    

    <p>Input: Sets</p>
    <label for="Sets">Sets</label>
    <input name="Sets" type="text" value="@(Model.Sets)">  
  </form>

  <div class="links">
     <a href="/exercises"><p>Exercises</p></a>
  </div>
</div>